#jinja2: lstrip_blocks: True
# https://nginx.org/en/docs/
#
# To extend this:
# - tweak the individual variables
# - use `nginx_server_configuration` to change what the default server does
# - use `nginx_configuration_extension` to introduce new directives in the `http` context

daemon off;
worker_processes {{ nginx_config_worker_processes }};

# The container's filesystem is read-only, so everything that needs to be written goes to the `/tmp` tmpfs.
pid /tmp/nginx.pid;

error_log stderr {{ nginx_config_log_level }};

events {
  worker_connections {{ nginx_config_worker_connections }};
}

http {
  include /etc/nginx/mime.types;
  default_type application/octet-stream;

  client_body_temp_path /tmp/client_body;
  proxy_temp_path /tmp/proxy;
  fastcgi_temp_path /tmp/fastcgi;
  uwsgi_temp_path /tmp/uwsgi;
  scgi_temp_path /tmp/scgi;

  {% if nginx_config_access_log_enabled %}
  access_log /dev/stdout combined;
  {% else %}
  access_log off;
  {% endif %}

  {% if nginx_config_resolver %}
  resolver {{ nginx_config_resolver }};
  {% endif %}

  server_tokens off;
  sendfile on;
  tcp_nopush on;

  client_max_body_size {{ nginx_config_client_max_body_size }};

  server {
    listen {{ nginx_container_http_port }} default_server;

    {{ nginx_server_configuration | trim | indent(4) }}
  }
  {% if nginx_configuration_extension | trim %}

  {{ nginx_configuration_extension | trim | indent(2) }}
  {% endif %}
}
